@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Outfit&display=swap');

@import "tailwindcss";

*{
    font-family: "Outfit", sans-serif;
    scrollbar-width: none;
    -ms-overflow-style: none;
}


::-webkit-scrollbar,
::-webkit-scrollbar {
    display: none;
}